<div class="row">
  <div class="style-1 card">
    <a href="https://andylc.github.io/">
      <div class="wrapper" style='background-image: url("/images/projects/profile.png");'>
        <div class="date">
          <span class="day">5</span>
          <span class="month">May</span>
          <span class="year">2015</span>
        </div>
        <div class="data">
          <div class="content">
            <h1 class="title">Portfolio Website</h1>
            <p class="text">My personal website to display my information and projects that I've worked on. Built using middleman a static website generator with a development experience similar to Ruby on Rails.</p>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="style-1 card">
    <a href="#">
      <div class="wrapper" style='background-image: url("/images/projects/profile.png");'>
        <div class="date">
          <span class="day">24</span>
          <span class="month">Jul</span>
          <span class="year">2018</span>
        </div>
        <div class="data">
          <div class="content">
            <h1 class="title">Eigenbeat</h1>
            <p class="text"></p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
