---
title: Projects
---
<div class="row">
  <div class="style-1 card">
    <a href="/eigenbeat.html">
      <div class="wrapper" style='background-image: url("/images/projects/eigenbeat.png"); background-position-y: 30%;'>
        <div class="date">
          <span class="day">24</span>
          <span class="month">Jul</span>
          <span class="year">2018</span>
        </div>
        <div class="data">
          <div class="content">
            <h1 class="title">EigenBeat</h1>
            <p class="text">An investigation on using Principal Component Analysis to find "eigenbeats" using hip-hop drum beats. The idea was inspired by the concept of an eigenface, the representation of face data at the orthogonal intercept of a space spanned by eigenvectors. Instead of using images, I use music to try to construct a kind of "eigenbeat."</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="style-1 card">
    <a href="https://andylc.github.io/">
      <div class="wrapper" style='background-image: url("/images/projects/profile.png");'>
        <div class="date">
          <span class="day">5</span>
          <span class="month">May</span>
          <span class="year">2015</span>
        </div>
        <div class="data">
          <div class="content">
            <h1 class="title">Portfolio Website</h1>
            <p class="text">My personal website to display my information and projects that I've worked on. Built using middleman a static website generator with a development experience similar to Ruby on Rails.</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="style-1 card">
    <a href="https://www.fairviewhs.org/">
      <div class="wrapper" style='background-image: url("/images/projects/fairviewhs.png"); background-size: 150%'>
        <div class="date">
          <span class="day">1</span>
          <span class="month">Aug</span>
          <span class="year">2013</span>
        </div>
        <div class="data">
          <div class="content">
            <h1 class="title">FairviewHS Website</h1>
            <p class="text">Website built with Ruby on Rails I worked on with the web team at my high school as a club after school.</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
